.start-menu {
  position: absolute;
  bottom: 31px;
  left: 0;
  width: 350px;
  height: 450px;
  background: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 83, 238, 1) 1%,
    rgba(9, 151, 255, 1) 15%,
    rgba(9, 151, 255, 1) 88%,
    rgba(0, 91, 255, 1) 95%,
    rgba(0, 61, 215, 1) 99.5%,
    rgba(0, 61, 215, 1) 100%
  );
  border: 1px solid #2076ff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  &--hidden {
    display: none;
  }
  &__user-info {
    height: 15%;
    width: 100%;
    display: flex;
    &__profile-pic {
      height: 80%;
      margin: 5px;
      border-radius: 8px;
      border: 2px solid white;
      box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.3);
    }
    &__profile-name {
      color: white;
      font-size: 23px;
      text-shadow: 1px 1px #646465;
      padding-left: 5px;
    }
  }
  &__wrapper {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #2076ff;
    background-color: white;
    height: 74%;
    width: 100%;
  }

  &__folders {
    box-sizing: border-box;
    background-color: rgb(196, 221, 250);
    border-left: 1px solid #96bfff;
    width: 50%;
    height: 100%;
    padding: 5px;
  }

  &__folder {
    display: flex;

    &__img {
      height: 30px;
    }

    &__text {
      color: #001ea0;
      margin-top: 5px;
      margin-left: 5px;
      font-weight: bold;
      font-size: 17px;
    }
  }

  &__programs {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 20px 10px;
  }

  &__program {
    display: flex;

    &__img {
      height: 45px;
    }
    &__text {
      color: rgb(67, 65, 65);
      margin-top: 15px;
      margin-left: 10px;
      font-size: 15px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 5px;
  }
  &__button-label {
    text-shadow: 1px 1px #0f1089;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1px white solid;
    margin: 5px;
    font-size: 15px;
    &--yellow {
      background-color: rgba(239, 200, 0);
      box-shadow: inset -2px -2px 2px rgba(184, 111, 1, 0.955),
        inset 2px 2px 2px rgb(244, 222, 114);
    }
    &--orange {
      background-color: rgb(233, 112, 12);
      box-shadow: inset -2px -2px 2px rgba(184, 80, 1, 0.955),
        inset 2px 2px 2px rgb(255, 171, 103);
      margin-left: 20px;
    }
  }
}
